@keyframes swing {
  0%, 100% { transform: rotate(-30deg); }
  20% {transform:scale(.95);}
  50% { transform: rotate(30deg); }
  80% {transform:scale(.95);}
}

#sweetlandia {
  animation: swing 2s infinite ease-in-out;
}

.event{
  margin:50px auto;
  text-align:center;
}