/* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */


        }

        /* Modal Content */
        .modal-content {
			left: 0px;
			top: 45px;
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
			height: 75%
        }
		
		@media only screen and (max-width: 500px) {
			.modal-content {
				top: 150px;
				left: 10px;
				width: 80%;
				height: 79%
			}
		}
		@media only screen and (max-width: 900px) {
			.modal-content {
				top: 100px;
				left: 10px;
				width: 80%;
			}
		}

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }