@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: visible;
  width: 100%;
  
}

body {
  background: #FFFFFF;
  max-width: 100%;
}

svg {
  display: block;
  overflow: visible;
  width: 99%;
}

@media (max-width: 1301px) {
  svg {
    display: block;
  overflow: visible;
  width: 105%;
  }
  
}

@media (max-width: 1146px) {
  svg {
    display: block;
  overflow: visible;
  width: 110%;
  }
 .slide__text-desc3 {
    font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
  }
  .slide__text-desc2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
  }  
  
}

@media (max-width: 650px) {
  svg {
    display: block;
  overflow: visible;
  width: 117%;
  }
}

@media (max-width: 1000px) {
  svg {
    display: block;
  overflow: visible;
  width: 117%;
  }
}

@media (max-width: 1060px) {
  svg {
    display: block;
  overflow: visible;
  width: 117%;
  }
}

@media (max-width: 1016px) {
  svg {
    display: block;
  overflow: visible;
  width: 115%;
  }
  .slide__text-desc3 {
    font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
  }
  .slide__text-desc2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
}
  
}

.slider-container {
  position: relative;
  max-width: 100%;
  height: 77%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
  overflow: hidden;
  top: 0%;
}

@media (max-width: 991px) {
  .slider-container {
    height: 58%;
  }
}

.slider-control {
  z-index: 2;
  position: absolute;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
  cursor: pointer;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  border-width: 20px 30px 20px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 20px;
  max-width: 100%;
}
.slider-control.right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 20px;
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
  top:-6%;
}
.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}

.slide:nth-child(1) .slide__overlay-path {
  fill: #2980B9;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: #2980B9;
	height: 40%;
  }
}
.slide:nth-child(2) {
  left: 100%;
}

.slide:nth-child(2) .slide__overlay-path {
  fill: #2980B9;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: #2980B9;
	height: 40%;
  }
}
.slide:nth-child(3) {
  left: 200%;
}

.slide:nth-child(3) .slide__overlay-path {
  fill: #2980B9;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: #2980B9;
	height: 40%;
  }
}
.slide:nth-child(4) {
  left: 300%;
}

.slide:nth-child(4) .slide__overlay-path {
  fill: #2980B9;
}


@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: #2980B9;
	height: 40%;
  }
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
}



.slide__text-heading {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.slide__text-heading1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 5.5rem;
    font-size: 1.8rem;
  }
  .slide__text-heading1 {
    display:none;
  }
}
@media (max-width: 501px) {
  .slide__text-heading {
    line-height: 5.5rem;
    font-size: 1.4rem;
  }
  .slide__text-heading1 {
    display:none;
  }
}
@media (max-width: 391px) {
  .slide__text-heading {
    line-height: 5.5rem;
    font-size: 1.0rem;
  }
  .slide__text-heading1 {
    display:none;
  }
}
@media (max-width: 291px) {
  .slide__text-heading {
    line-height: 5.5rem;
    font-size: 0.7rem;
  }
  .slide__text-heading1 {
    display:none;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
.slide__text-desc1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.slide__text-desc2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.slide__text-desc3 {
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1264px) {
  .slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  margin-bottom: 0rem;
}
.slide__text-heading {
    font-size: 1.0rem;
  }
  .slide__text-heading1 {
    display:none;
  }
  .slide__text-desc1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}
  
}

@media (max-width: 1070px) {
  .slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.0rem;
  margin-bottom: 0rem;
}
.slide__text-heading {
    font-size: 0.1rem;
  }
  .slide__text-heading1 {
    display:none;
  }
  .slide__text-desc1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.1rem;
  margin-bottom: 1.5rem;
}
  
}


@media (max-width: 1100px) {
  .slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0rem;
}
.slide__text-heading {
    font-size: 0.9rem;
  }
  .slide__text-heading1 {
    display:none;
  }
  .slide__text-desc1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}
.slide__text-cub1 {
  font-size: 0.1rem;
  margin-bottom: 0rem;
}
  
}

@media (max-width: 1275px) {
  .slide__text-desc3 {
    font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  }
  .slide__text-desc2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
}
  
}


.slide__text-cub {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.slide__text-cub1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
  .slide__text-desc2 {
	display: none;
  }
  .slide__text-desc3 {
    line-height: 5.5rem;
	font-size: 1.8rem;
  }
  .slide__text-cub {
   display: none;
}
.slide__text-desc1 {
   display: none;
}
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  perspective: 1000px;
}
.slide__text-link1 {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
  .readmore {
	  display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform-origin: 50% 100%;
  transform: rotateX(-85deg);
  transition: transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  transform: rotateX(0);
}
.slide__text-link1:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform-origin: 50% 100%;
  transform: rotateX(-85deg);
  transition: transform 0.3s;
  will-change: transform;
}
.slide__text-link1:hover:before {
  transform: rotateX(0);
}